@use "sass:map";
@use "sass:color";
@import "theme";

$font-sizes: (
  1: 1.8rem,
  2: 1.6rem,
  3: 1.3rem,
  4: 1.2rem,
  5: 1rem,
);

$font-weight: (
  1: 800,
  2: 600,
  3: 600,
  4: 600,
  5: 600,
);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  body {
    background-color: var(--primary-background);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    color: var(--primary-headline);
  }

  @each $key, $value in $font-sizes {
    h#{$key} {
      font-size: $value;
      margin: 0;
      font-weight: map.get($font-weight, $key);
    }
  }

  p {
    color: var(--primary-paragraph);
    font-size: $paragraph-font-size;
  }

  h5 {
    color: var(--secondary-sub-headline);
  }

  button {
    @include button();
  }

  .card {
    @include card();
  }

  .chip {
    @include chip();
  }

  .chip-list {
    @include chip-list();
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
button {
  all: unset;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd,
blockquote,
figure,
pre,
hr,
fieldset,
table,
address {
  margin: 0;
  padding: 0;
  list-style: none;
}
