@import "../../theme.scss";

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: $border-radius;
    gap: $list-gap;
    &__header {
        img.bainbridge-matthew {
            width: 100%;
            border-radius: $border-radius;
        }
    }

    &__body,
    &__header {
        text-align: center;
    }

    &__footer {
        justify-content: center;
        @include chip-list();
    }
}
