@import "../../theme";

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__section {
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: $header-gap;
        margin: $header-gap * 2 0;
        font-weight: 500;
        &__logo {
            cursor: pointer;
        }
        &__item {
            color: var(--primary-headline) !important;
            background-color: var(--secondary-background);
            padding: 0.6rem 0.75rem;
            cursor: pointer;
            border-radius: $border-radius;
            min-width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: var(--secondary-card-background-hover);
            }
            &:active {
                background-color: var(--secondary-card-background-active);
            }
            @include animation();
        }
    }
    .hide-mobile {
        @include on-mobile {
            display: none;
        }
    }
}
