@import "../../theme";

$main-basis: 70%;

.articles-container {
    display: flex;
    flex-direction: row;
    gap: $list-gap * 2;

    @media (max-width: $mobile-max-width) {
        flex-direction: column;
    }

    &__info-card {
        max-width: 300px;
        @media (max-width: $mobile-max-width) {
            order: -1;
            align-self: center;
        }
    }

    .article-partial-container {
        flex-basis: $main-basis;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: $list-gap;

        .article-partial-card {
            @include card($hoverable: true);
            display: flex;
            flex-direction: column;
        }
    }
}
